*~
*.mbc
build/
.vs/
.vscode/
vcpkg/
vcpkg_installed/
packages/
Generated\ Files/
AppPackages/
obj/
x64/
Debug/
Release/
x64-Release/
x64-Debug/
dlldeps/
*.msi
*.zip
win32/Microsoft.WindowsAppRuntime.lib
win32/wix/moser/

