<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- the product (moser) to install -->
  <Product Id="*"
           Name="moser" Language="1033" Version="1.0.0.0"
           Manufacturer="mole"
           UpgradeCode="4D71DC2D-25BB-4D8F-8238-38A6175F4A10">


    <?if $(var.BuildArch) = "x86" ?>
    <?define PF = ProgramFilesFolder ?>
    <?define Win64 = "no" ?>
    <?elseif $(var.BuildArch) = "x64" ?>
    <?define PF = ProgramFiles64Folder ?>
    <?define Win64 = "yes" ?>
    <?endif?>

    <!-- msi version and packaging-->
    <Package InstallerVersion="200" Compressed="yes" />

    <!-- msi media: use single embedded cabinet archive-->
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

	<!-- no repair or change options in installer -->
	<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" /> 
	<Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />

    <!-- package icon -->
    <Icon Id="icon.ico" SourceFile=".\res\moe.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />


    <!-- installation directory structure -->

    <Directory Id="TARGETDIR" Name="SourceDir">


      <!-- Binaries -->
      <Directory Id="$(var.PF)">
        <Directory Id="INSTALLLOCATION" Name="moser">

        </Directory>
      </Directory>

      <!-- Unpriviledged User Install goes here -->
      <Directory Id="LocalAppDataFolder">
      </Directory>
    </Directory>


    <DirectoryRef Id="TARGETDIR">
     <Component Id="RegistryEntries" Guid="{042BDE39-FF5E-4B0C-A3A2-1D0D6A1CDF2B}">
        <RegistryKey Root="HKCU"
                     Key="Software\Microsoft\Windows\CurrentVersion\App Paths\moser.exe"
              Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="[INSTALLLOCATION]\moser\moser.exe" KeyPath="yes"/>
        </RegistryKey>
     </Component>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
     <Component Id="Path" Guid="{EED94862-E6A3-4704-B457-329AC5B005F6}" KeyPath="yes">
	<CreateFolder />
      <Environment Id="PATH" Name="PATH" Value="[INSTALLLOCATION]\moser" Permanent="no" Part="last" Action="set" System="no" />
     </Component>
    </DirectoryRef>

    <!-- Features -->

    <Feature AllowAdvertise='no' InstallDefault='local' Absent='disallow'
             Id='MocMain' Title='moser' Description='moser application binaries'
             Level='1' ConfigurableDirectory="INSTALLLOCATION">

      <ComponentGroupRef Id='MocCompGroup' />
	<ComponentRef Id='RegistryEntries' />
	<ComponentRef Id='Path' />

    </Feature>


    <InstallExecuteSequence>
	  <RemoveExistingProducts Before='InstallInitialize' />
    </InstallExecuteSequence>

    <!-- WIX UI overrides-->
    <WixVariable Id="WixUILicenseRtf" Value=".\res\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value=".\res\moeinstall.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value=".\res\front.jpg" />

    <!-- WIX UI support -->
    <UIRef Id="WixUI_ErrorProgressText" />
    <UIRef Id="WixUI_MondoNoLicense"/>
    
  </Product>
</Wix>
