<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.CppWinRT" version="2.0.240111.5" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.22621.3233" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="1.5.240311000" targetFramework="native" />
  <package id="Microsoft.VCRTForwarders.140" version="1.1.0" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.Win32Metadata" version="59.0.13-preview" targetFramework="native" />
  <package id="Microsoft.Windows.WinMD" version="1.0.210629.2" targetFramework="native" />

</packages>